$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

.below6 { margin-bottom: 6px !important; }
.below12 { margin-bottom: 12px !important; }
.below18 { margin-bottom: 18px !important; }
.below24 { margin-bottom: 24px !important; }
.below30 { margin-bottom: 30px !important; }
.below36 { margin-bottom: 36px !important; }
.below48 { margin-bottom: 48px !important; }
.below54 { margin-bottom: 54px !important; }
.below60 { margin-bottom: 60px !important; }

.fwb {
    font-weight: bold;
}

.minw96 { min-width: 96px; }
.maxw114 { max-width: 114px; }
.maxw240 { max-width: 240px; }
.maxw300 { max-width: 300px; }

@media only screen and (max-width: 40em) {
    table.phone-table {
        display: table;
        border: 0px;
        border-collapse: separate;
        border-spacing: 0em 3em;

        thead { display: none; }

        td {
            display: block;
        }

        td.phone-inline-block {
            display: inline-block;
        }
    }
}
